<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% for(let i = 0; i < users.length; i++){ %>
        <br>
        <% for(let key in users[i]) { %>
          <li><%= users[i][key] %></li>
        <%  } %>
      <% }; %>
    </ul>
  </body>
</html>
