<main>

  <form class="" action="/logout" method="post">
    <button type="submit" name="button">logout</button>
  </form>

  <div ng-repeat="post in $ctrl.posts" class="">
    <p>{{post}}</p>
  </div>


  <!-- TODO move show map function -->
  <button ng-click="showMap = !showMap" type="button" name="button">show map</button>

  <div ng-show="showMap" class="container">
    <div class="map">Alternative content</div>
  </div>


  <div ng-if="destination" class="tweet-container">
    <p>Sweet, I've always wanted to visit {{destination}}.</p>
    <div ng-repeat="tweet in tweets" class="tweetBlock">
      <div class="">
        <blockquote class="twitter-tweet">
          <a href={{tweet}}></a>
        </blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>



</main>
